#successBackground{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    width: 80%;
    height: 80%;
    min-width: 60%;
    min-height: 320px;
    background-color: rgb(203, 245, 179);
    z-index: 2;
}
#orderValue, #orderDelivery{
    text-align: center;
    margin: 20px;
}
#DetailsTable{
    margin: 1% 35%;
}
td{
    font-family: serif;
    padding: 10px;
}